body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.actives {
  display: flex;
  gap: 45px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 175px;
  gap: 38px;
}
.actives_block {
  background-color: #efefef;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active {
  height: 171px;
  width: 243px;
  background-color: #d7e7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  gap: 11px;
}
.left {
  transform: rotate(180deg);
}
.img_active {
  height: 118px;
  width: 220px;
}
.img_active img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.text_active {
  display: flex;
  justify-content: space-between;
  width: 215px;
}
.title_active {
  padding: 1.9px;
}
.cost {
  padding: 1.5px;
  display: flex;
  gap: 5px;
}
.users_block {
  height: 500px;
  background: #f2f2f2;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 36px 50px;
  display: flex;
  gap: 49px;
  flex-wrap: wrap;
  overflow: auto;
  width: 1058px;
}
.user {
  display: flex;
  width: 160px;
  height: 227px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #d7e7ff;
  border-radius: 8px;
  justify-content: space-evenly;
}
.rol_user {
  font-size: 13px;
}
.donat_user img {
  cursor: pointer;
}
.lvl_user {
  position: absolute;
  top: 160px;
  font-size: 30px;
  left: 120px;
  color: red;
}
.img_user {
  max-width: 138px;
}
.img_user img {
  width: 100%;
}
.up_user {
  position: relative;
}
.info_lk {
  display: flex;
  gap: 25px;
}
.bottom_user {
  display: flex;
  width: 135px;
  justify-content: space-between;
  font-size: 16px;
}
.foto_goal {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.foto_goal button {
  max-width: 115px;
}
.foto {
  max-width: 318px;
}
.foto img {
  width: 100%;
}
.up_name {
  display: flex;
  width: 401px;
  justify-content: space-around;
  align-items: center;
}
.exp_name {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.exp_lk {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.midle_block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.foto_goal button {
  width: 115px;
  height: 45px;
  background: #457ecc;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #f2f2f2;
}
.img_achiv {
  width: 100px;
  height: 100px;
  background-color: rgb(85, 179, 179);
}
.get_achiv {
  width: 319px;
  height: 57px;
  background: #457ecc;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#root {
  position: relative;
}

@import '~antd/dist/antd.css';
