body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.actives {
  display: flex;
  gap: 45px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 175px;
  gap: 38px;
}
.actives_block {
  background-color: beige;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: center;
}
.active {
  height: 171px;
  width: 243px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 11px;
}
.img_active {
  height: 118px;
  background-color: rgb(187, 127, 255);
  width: 220px;
  border-radius: 8px;
}

.text_active {
  display: flex;
  justify-content: space-between;
  width: 215px;
}
.title_active {
  border: 1px black solid;
  border-radius: 4px;
  padding: 1.9px;
}
.cost {
  border: 1px black solid;
  padding: 1.5px;
  border-radius: 4px;
}
.users_block {
  height: 500px;
  background-color: beige;
  padding: 36px 50px;
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
  overflow: auto;
}
.user {
  display: flex;
  width: 160px;
  height: 227px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
}
.lvl_user {
  position: absolute;
  top: 160px;
  font-size: 30px;
  left: 120px;
  color: red;
}
.img_user {
  max-width: 138px;
}
.img_user img {
  width: 100%;
}
.up_user {
  position: relative;
}
.info_lk {
  display: flex;
  gap: 25px;
}
.bottom_user {
  display: flex;
  width: 135px;
  justify-content: space-between;
  font-size: 16px;
}
.foto_goal {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.foto_goal button {
  max-width: 115px;
}
.foto {
  max-width: 318px;
}
.foto img {
  width: 100%;
}
.up_name {
  display: flex;
  width: 401px;
  justify-content: space-around;
  align-items: center;
}
.exp_name {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.exp_lk {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#root {
  position: relative;
}

@import '~antd/dist/antd.css';
